.tools-container {
  position: absolute;
  float: left;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
}

.button {
  border: 0px;
  background: #fff;
  border-radius: 2px;
  margin: 2px;
}

.button:hover {
  background-color: #e1edf7;
}

.icon {
  width: 22px;
  height: 20px;
}

.icon-resize {
  background: url("../icons/resize.png") 100% 100% no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.icon-uploadcare {
  background: url("../icons/uploadcare.png") 100% 100% no-repeat;
  background-position: center;
} 
 
.screen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: 10;
  cursor: default;
}

.resize-border {
  position: absolute;
  border: 1px dashed #bbbbbb;
  z-index: 11;
  background-color: rgba(128, 128, 128, 0.15);
  cursor: default;
}

.resizer {
  background-color: white;
  border: 1px solid #bbbbbb;
  position: absolute;
  z-index: 12;
}

.top-left {
  cursor: nw-resize;
}

.top-right {
  cursor: ne-resize;
}

.bottom-left {
  cursor: sw-resize;
}

.bottom-right {
  cursor: se-resize;
}